
{# ______________________________________NEW  #}

<nav class="navbar navbar-expand-lg" data-bs-theme="light">
  <div class="container-fluid bg-light">
    <a href="/" class="navbar-brand">
        <img src="/static/images/warbler-logo.png" alt="logo">
        <span>Warbler</span>
      </a>
    <button class="navbar-toggler bg-primary"
        type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarColor01"
        aria-controls="navbarColor01"
        aria-expanded="false"
        aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto navbar-right">

        {% if not g.user %}
            <li class="nav-item">
                <a class="nav-link text-black" href="/signup">Sign up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" href="/login">Log in</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/users/{{ g.user.id }}">
                    <img class="img-fluid" src="{{ g.user.image_url }}" alt="{{ g.user.username }}" >
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">
                    Warbler Users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/messages/new">
                    New Message
                </a>
            </li>
            <li class="nav-item">
                <form>
                    {{ g.csrf_form.hidden_tag() }}
                    <button class="btn btn-danger btn-sm"
                            formaction="/logout"
                            formmethod="POST">
                    Logout
                    </button>
                </form>
            </li>
        {% endif %}

      </ul>

      {% block searchbox %}

        <form class="d-flex" action="/users">
            {# Try playing around with the bootstrap width and not allow it to take in all the cols #}
            <input class="form-control me-sm-2"
                name="q"
                class="form-control"
                placeholder="Search Warbler"
                aria-label="Search"
                id="search">

            <button class="btn btn-default my-2 my-sm-0">

            </button>

            <span class="bi bi-search"></span> {# BS: Why isnt this icon appearing inside the search bar? #}
        </form>
      {% endblock %}
    </div>
  </div>
</nav>