{% extends 'users/detail.jinja' %}
{% block user_details %}
<div class="col-sm-6">
  <ul class="list-group" id="messages">

    {% for message in user.messages %}

    <li class="list-group-item">
      <a href="/messages/{{ message.id }}" class="message-link"></a>

      <a href="/users/{{ user.id }}">
        <img src="{{ user.image_url }}"
             alt="user image"
             class="timeline-image">
      </a>

      <div class="message-area">
        <a href="/users/{{ user.id }}">@{{ user.username }}</a>
        <span class="text-muted">
              {{ message.timestamp.strftime('%d %B %Y') }}
            </span>
        <p>{{ message.text }}</p>
      </div>

      {% if g.user.username != message.user.username %}
        <a>
          <form>
              {{ g.csrf_form.hidden_tag() }}

              <input type="hidden" name="came_from" value="/users/{{ user.id }}">
              <button class="btn btn-sm"
                formaction="/messages/like/{{ message.id }}"
                formmethod="POST">

              {% if g.user.is_liked(message.id) %}
                <span class="bi bi-suit-heart-fill"></span>
              {% else%}
                <span class="bi bi-suit-heart"></span>
              {% endif%}

              </button>
          </form>
        </a>
      {% endif%}
    </li>

    {% endfor %}

  </ul>
</div>
{% endblock %}